{% extends 'mentoring/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
{% csrf_token %}

      
        <fieldset style="display:block; margin-left:20px; margin-right:20px;">
           <form role="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div align="center">
                {% buttons %}
                
                <button type="submit" class="btn btn-inverted btn-bold btn-default" align="center" style="margin-bottom:10px;" onclick="window.close()">{% bootstrap_field form.price %}입찰하기</button>
                {% endbuttons %}
                </div>
            </form>
        </fieldset>
      
{% endblock %}